body {
  width: 200px;
  margin: 0;
  padding: 7px;
  font-size: 14px;
  line-height: 20px;
  color: #555;
}

.ng-hide {
  display: block!important;
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.pull-right {
  float: right;
}

#source {
  -webkit-appearance: textfield;
  border: 1px inset #e0e0e0;
  background-color: #fefbf5;
  resize: none;
  font-size: 14px;
  line-height: 20px;
  color: #555;
  width: 100%;
  height: 20px;
  max-height: 80px;
  margin: 0 0 2px 0;
  padding: 2px 4px;
  font-weight: bold;
  box-sizing: border-box;
}

#source:active, #source:focus {
  outline: -webkit-focus-ring-color auto 3px;
}

/* Translator Logos */

.btn-translator {
  width: 29px;
  height: 16px;
  margin-right: 69px;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center center;
}

.btn-translator.youdao {
  background-size: 29px 16px;
  background-image: url(../img/translators/youdao.png);
}

.btn-translator.baidu {
  background-image: url(../img/translators/baidu.png);
}

.btn-translator.bing {
  background-image: url(../img/translators/bing.png);
}


footer {
  height: 16px;
  margin-top: 7px;
}

/* Inline checkbox */

.checkbox-inline {
  display: inline-block;
  cursor: pointer;
}

.checkbox-inline input {
  display: none;
}

.checkbox-inline input:not(:checked) + .icon {
  opacity: 0.3;
}

.translator-logo {
  height: 16px; 
}