@import 'mixins/reset';

.cst-list {
  @include reset;
}

#cst-list {
  position: fixed;
  z-index: 2147483647;
  width: 250px;
  right: 15px;
  top: 35px;
  max-height: calc(100% - 40px);
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
    width: 0px;
  }
}
