#cst-list .cst-result-toast {
  @include fade;

  z-index: 2147483647;
  max-width: 250px;
  min-width: 150px;
  line-height: 1.5;
  font-size: 14px;
  margin-bottom: 5px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #000000;
  opacity: 0.9;

  a.close {
    float: right;
    text-decoration: none;
    margin-right: 5px;
    font-size: .8em;
    color: #cecece;

    &:hover {
      color: #ffffff;
    }
  }
}