table {
  width: 100%;
  border: 2px solid #ddd;

  th, td {
    padding: 5px 10px;
    text-align: center;

    &:first-child {
      text-align: left;
    }
  }

  th {
    background-color: #ddd;
  }

  tbody tr:not(:first-child) td {
    border-top: 1px solid #ddd;
  }
}
